<div class="top-banner">
    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="Content/images/banner/img_bg1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/banner/img_bg2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/banner/img_bg3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/banner/img_bg4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/banner/img_bg5.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/banner/img_bg6.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/images/banner/img_bg7.jpg" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="row">
    <dl class="col">
        <dt class="bg-danger"><i class="icon ion-bag"></i></dt>
        <dd>车商城</dd>
    </dl>
    <dl class="col">
        <dt class="bg-orange"><i class="icon ion-card"></i></dt>
        <dd>分期购车</dd>
    </dl>
    <dl class="col">
        <dt class="bg-danger"><i class="icon ion-android-color-palette"></i></dt>
        <dd>团购活动</dd>
    </dl>
    <dl class="col">
        <dt class="bg-blue"><i class="icon ion-android-car"></i></dt>
        <dd>找二手车</dd>
    </dl>
</div>
<div class="yue">
    <img src="Content/images/imgs/car.jpg" alt="">
</div>
<div class="car-service">
    <h4>车主服务</h4>
    <ul class="service-list">
        <li><span><i class="icon ion-android-film text-light-dark"></i></span><span>油卡充值</span></li>
        <li><span><i class="icon ion-android-drafts text-red"></i></span><span>低价保险</span></li>
        <li><span><i class="icon ion-android-document text-jet-dark"></i></span><span>4S店保养</span></li>
        <li><span><i class="icon ion-android-globe text-highlight-blue"></i></span><span>品质轮胎</span></li>
        <li><span><i class="icon ion-pie-graph text-high-blue"></i></span><span>车品商城</span></li>
        <li><span><i class="icon ion-lock-combination text-orange"></i></span><span>洗车</span></li>
        <li><span><i class="icon ion-locked text-gray"></i></span><span>违章代缴</span></li>
        <li><span><i class="icon ion-calendar text-dark-orange "></i></span><span>免费测评</span></li>
        <li><span><i class="icon ion-clipboard text-orange"></i></span><span>查周边</span></li>
        <li><span><i class="icon ion-wrench text-light-blue"></i></span><span>车主卡</span></li>
        <li><span><i class="icon ion-gear-b text-red"></i></span><span>领券保养</span></li>
        <li><span><i class="icon ion-alert-circled text-light-blue"></i></span><span>全部</span></li>
    </ul>

</div>
<div class="time">
    <h5><span><em>13</em>：<em>13</em>：<em>13</em></span>显示抢购</h5>
    <div class="wrap">
        <div class="content1">
            <ul>
                <li>
                    <p><img src="Content/images/imgs/card_03.jpg" alt=""></p>
                    <h6>补胎工具简易套装</h6>
                    <p><s>20元</s><span>￥9.9元</span></p>
                </li>
                <li>
                    <p><img src="Content/images/imgs/card_06.jpg" alt=""></p>
                    <h6>车用椅背挂钩</h6>
                    <p><span>￥9.9元</span><s>99元</s></p>
                </li>
                <li>
                    <p><img src="Content/images/imgs/card_03.jpg" alt=""></p>
                    <h6>补胎工具简易套装</h6>
                    <p><span>￥9.9元</span><s>20元</s></p>
                </li>
                <li>
                    <p><img src="Content/images/imgs/card_06.jpg" alt=""></p>
                    <h6>去痕增亮套装</h6>
                    <p><span>￥9.9元</span><s>20元</s></p>
                </li>
                <li>
                    <p><img src="Content/images/imgs/card_03.jpg" alt=""></p>
                    <h6>补胎工具简易套装</h6>
                    <p><span>￥9.9元</span><s>20元</s></p>
                </li>
                <li>
                    <p><img src="Content/images/imgs/card_06.jpg" alt=""></p>
                    <h6>车用椅背挂钩</h6>
                    <p><span>￥9.9元</span><s>20元</s></p>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="active">
 <h5><span>更多活动&nbsp;<i class="icon ion-chevron-right"></i></span>活动专区</h5>
    <ul class="active-ul">
        <li>
            <h5>测身价炫富</h5>
            <h6>身价大PK</h6>
            <p><img src="Content/images/imgs/active_03.jpg" alt=""></p>
        </li>
        <li>
            <h5>全场0利率</h5>
            <h6>购车无压力</h6>
            <p><img src="Content/images/imgs/active_05.jpg" alt=""></p>
        </li>
        <li>
            <h5>好车分期</h5>
            <h6>定制专属方案</h6>
            <p><img src="Content/images/imgs/active_07.jpg" alt=""></p>
        </li>
    </ul>
</div>
<div class="bottom">
    <h5><span>更多活动&nbsp;<i class="icon ion-chevron-right"></i></span>活动专区</h5>
    <div class="car-list">
        <dl ng-repeat="item in carmess | filter:{state:true}">
            <dt><img ng-src="{{item.pic}}" alt=""></dt>
            <dd>
                <h5>{{item.title}}</h5>
                <p>{{item.discrip}}</p>
                <p><span>{{item.price}}</span> <s>{{item.money}}</s></p>
            </dd>
        </dl>

    </div>
</div>
<p class="more" ng-click="more()">点击加载</p>


<script type="text/javascript">
    var baner=new Swiper(".banner",{
        loop:true,
        autoplay:true,
        speed:2000,
        pagination:".swiper-pagination",
        paginationClickable:"true"
    });
    new IScroll(".wrap",{
        scrollX:true,
        scrollY:false,
        mouseWheel:true
    })
</script>